header{
	background-color: #ff867d;
	padding: 10px;
	text-align: 

}

h1{
	font-size: 90px;
}

img{
	width: 60%;
	height: 400px;
	border-radius: 10

<header>
<img src="img/TheRaceSystem.png" style="shape-image-threshold: circle" >
<h1>
TheRaceSystem made by David
</h1>
</header>*/