html, body{
	font-family: sans-serif;
	margin: 0px;
}

header{
	background-color: #ff867d;
	padding: 10px;
	text-align: center;

}

h1{
	font-size: 90px;
}

img{
		width: 500px;
	border-radius: 50px;
	border: 20px solid #34c6eb;
}

footer{
	padding: 0px;
	background-color: #929c95;
	text-align: center;
	color: black;
	display: outline;
}
a{
	text-decoration: none;
	color: black;
}


<header>
<img src="img/TheRaceSystem.png" style="shape-image-threshold: circle"
alt="Paris" class="center"> >
<h1>
TheRaceSystem made by David
</h1>
</header>*/